/* Our CSS file. */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container, .content {
width: 100%;
height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
  }
  

header{
    width: 100%;
    height: 50px;
    background-color:  #92E0E5;;
}
header img{
    height: 40px;
    position: relative;
    left: 5px;
    bottom: 5px;
    padding: 10px

}
nav{
    height: 10px;
    position: relative;
    bottom: 20px;
}

nav li{
    float: right;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    bottom: 20px;
}
nav a{
    text-decoration: none;
    color: white;
}

#hero{
    border: 5px;
    height: 450px;
    background: url(./assets/img/img5.jpg) no-repeat;
    background-size :contain;
    background-repeat: repeat;
}

h1{
    text-align: center;
    font-size: 25px;
    text-decoration: solid;
    position: relative;
    left: 70px;
    top: 15px;
}

#img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20px;
    left: 60px;
    border: solid;
    border-radius: 150px;
    border-color: #92E0E5;
}

#hero .btn{
    background-color: white;
    border: 5px solid skyblue;
    color: pink;
    text-decoration: none;
    position: relative;
    top: 80px;
    left: 660px;
    padding: 10px;
}

#art1{
    border: none;
    width: 25%;
    height: 460px;
    position: relative;
    left: 130px;
    top: 25px;;

}
.img2{
    border: 2px solid;
    border-radius: 250px;
    border-color: black;
    width: 200px;
    position: relative;
    top: 50px;
}

#art2{
    border: none;
    width: 25%;
    height: 460px;
    position: relative;
    left: 580px;
    bottom: 440px;
}

#art3{
    border: none;
    width: 25%;
    float: right;
    height: 460px;
    position: relative;
    bottom: 905px;
    right: 90px;
}

.btn1{
    background-color: white;
    border: 5px solid;
    color: skyblue;
    text-decoration: none;
    position: relative;
    left: 125px;
    top: 90px;
    padding: 10px;
}

.Title{
    text-decoration: none;
    color: black;
    font-size: large; 
    position: relative;
    bottom: 180px;
    left: 120px;
}

.para{
    text-align: center;
    font-size: medium;
    position: relative;
    top: 55px;
}

.a{
    position: relative;
    top: 15px;
    right: 15px;
}

#foot{
    border: none;
    height: 150px;
    background-color: #3F8DA7;
    position: relative;
    bottom: 0px;
}

#foot li{
    display: inline;
    position: relative;
    left:600px;
    top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

#foot h4{
    text-align: center;
    font-size: large;
    color: white;
    padding-top: 10px;
    position: relative;
    right: 25px;
}

#foot a{
    text-decoration: none;
    color: white;
    position: relative;
    left: 670px;
    top: 40px;
}

#foot a:hover{
    color: wheat;
}

section{
    border: none;
    height: 500px;
}

.btn1:hover{
    color: brown;
    border: solid;
    border-radius: 20px;
}